<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link href="./favicon.ico" rel="icon" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <link rel="icon" src="favicon.ico" /> -->
  </head>
  <body >

    <div id="page" class="site">

      <div id="feather" class="feather"></div>
    
      <header id="masthead" class="site-header" role="banner">
        <div class="di-flex ">
          <div class="logo"><img src="<%= require('./img/canon-logo.png') %>" alt="logo"></div>        
          <div>
            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
            <button class="enquire-btn" id="enquire" name="enquireBtn">Enquire Now</button>

          </div>
        </div>
        <nav class="anchor-nav menubar" role="navigation">
          <ul>
            <li><a href="#intro" class="menuname">ABOUT R6 MARK II</a></li>
            <li><a href="#panel-1" class="menuname">WATCH THE FILM</a></li>
            <li><a href="#panel-3" class="menuname">EXPLORE FEATURES</a></li>
            <li><a href="#panel-5" class="menuname">VIEW PRICE</a></li>
          </ul>
        </nav>
        <div class="enquire">
          <div class="form-wrapper">
            <form class="form-content" id="enquiry">
              <div class="col-input">
                <div class="control">
                  <input type="text" class="form-control" name="fname" id="fname" placeholder="Name"
                    data-invalid="Please enter the valid name." required>
                </div>
                <p class="invalid">Please enter the valid name.</p>
              </div>      
              <div class="col-input">
                <div class="control">
                  <input class="form-control" type="tel" placeholder="Phone" maxlength="10"
                    onkeypress="return AllowOnlyNumbers(event);" required>
                </div>
                <p class="invalid">Please enter the valid phone number.</p>
              </div>
              <div class="col-input">
                <div class="control">
                  <input class="form-control" type="email" placeholder="Email" required>
                </div>
                <p class="invalid">Please enter the valid email id.</p>
              </div>      
              <div class="col-input">
                <div class="control">
                  <select name class="form-control" required>
                    <option value class="placeholder">Location</option>
                    <option value="1">Mumbai</option>
                    <option value="2">Delhi</option>
                    <option value="2">Banglore</option>
                    <option value="2">Pune</option>
                  </select>
                </div>
                <p class="invalid">Please select location.</p>
              </div>  
              <div class="col-input">
                <div class="control">
                  <input class="form-control" type="email" placeholder="Job title" required>
                </div>
                <p class="invalid">Please enter the job title.</p>
              </div>  
              <div class="col-input">
                <div class="control radio-control">
                  <div class="radiobox">
                    <input type="radio" name="radio" class="form-control radio-box" id="radio1" required>
                    <label class="label" for="radio1">Seeking Information</label>
                  </div>
                  <div class="radiobox">
                    <input type="radio" name="radio" class="form-control radio-box" id="radio2" required>
                    <label class="label" for="radio2">Purchase</label>
                  </div>
                  <p class="invalid">Please select.</p>
                </div>
              </div>                          
              <button type="submit" onclick="event.preventDefault(); submitData('getInTouch');"
                class="submit-btn">Submit</button>
            </form>
          </div>
          <button class="close-btn">X</button>
        </div>
      </header>
      <div class="bottom-container">
        <div class="progerss-input">
          <progress max="100" value="0" class="page-progress"></progress>
        </div>
        <a class="next-btn"> <i class="arrow right"></i></a>
      </div>
      <main id="content" class="site-content" role="main">
        <div id="fistPage">
          <section id="intro" class="uq-section full-screen one-page-first-page pt-5 blue positon-rel page-effect" >
            <div class="container ">
              <div class="di-flex">
                <div class="text-center">
                  <p class="anim2"> <span>  Make it</span> </p>
                  <div class="text-heading">
                    <h1 class="anim1">
                        <span> Dramagic</span>
                    </h1>
                  </div>
                  <div class="border"><span class="spacer">with the</span></div>
                  <div class="text-heading">
                    <h1 class="anim1">
                      <span>  <img src="<%=require('./img/R6.png')%>" alt=""></span>
                    </h1>
                    <p class="anim2 view-price"> <span> <a href="#!" class="view-price">view price</a> </span> </p>
                  </div>
                </div>
                <div class="cammera-img">
                  <img src="<%=require('./img/CAMERA.png')%>" alt="">
                </div>
              </div>
            </div>
          </section>
          <section id="second-fold" class="uq-section full-screen one-page-second-page pt-5 black-bg positon-rel page-effect" >
            <div class="container">
              <div class="di-flex">
                <div class="image-box">
                  <img src="<%=require('./img/CAMERA.png')%>" alt="" class="camera-img animate" data-animate="zoomIn" data-duration="0.9s" data-delay="0s" >
                </div>
                <div class="text-content">
                  <h2 class="title animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.5s" >50% DRAMA + 50% MAGIC </h2>
                  <p class="animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.5s"><span> Every creator dreams of that one act - one that keeps the audience on the edge of their seats and takes their imagination to where it's never been. Just as an actor on stage entertains and a magician enchants, they strive to put on a show that is just as dramatic as it is magical. With Canon Super R in their hand, they get their prowess and power to perform, amaze and spellbind.</span></p>
                  <p class="animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.5s"><span> Full HD 180p + 6K 60p RAW, HDR (Moving Objects) + Dual Pixel CMOS AF II  and Up to 40 fps Continuous Shooting + Co-ordinated IS. Super R is your best bet when you want to deliver a masterpiece that has equal amounts of drama and magic and to Make It DRAMAGIC.</span></p>
                  <a href="#!"></a>
                </div>
              </div>
            </div>
          </section>
        </div>
        <section class="uq-section full-screen pt-5 positon-rel one-page-third-page" id="testPAnnel">
          <div class="container">
            <div class="di-flex">
              <h2 class="title animate" data-animate="fadeInUp" data-duration="0.4s" data-delay="0.5s">Make It <br>
                DRAMAGIC Film</h2>
              <p class="animate" data-animate="fadeInUp" data-duration="0.4s" data-delay="0.5s"><span>Part a legendary theatre act, part magic show, the Make It DRAMAGIC film   sees one exquisite  scenario after another, each unfolding into the other,  creating a seamless experience that is nothing other than DRAMAGIC. Different worlds across land, water and air come together and merge into one creating a multi-sensory experience that is vivid, vibrant and by all means DRAMAGIC. </span></p>
              <p class="animate" data-animate="fadeInUp" data-duration="0.4s" data-delay="0.5s"><span>Experience it to believe it. Performed with the Super R.</span></p>
            </div>
          </div>
          <img src="<%=require('./img/play-btn.png')%>" alt="" class="popup1_open pata-nahi animate" data-animate="zoomIn" data-duration="0.9s" data-delay="0s">
         

          <!-- <div class="bottom-container">
            <div class="progerss-input">
              <progress max="100" value="0" class="page-progress"></progress>
            </div>
            <a href="#testPAnnel" class="anchor">Panel 1</a>
          </div> -->
        </section>
       
        <section id="panels">
    
          <div id="panels-container">
            <article id="panel-1" class="uq-section panel full-screen black-bg" >
              <div class="owl-container">
              <div id="filmsCarousel" class="owl-carousel owl-theme films-carousel">
                <div class="item">
                  <div class="art-card animate popup1_open" data-animate="zoomIn" data-duration="0.9s" data-delay="0s">
                    <img src="<%= require('./img/caro-1.jpg') %>" alt="" style="height: 100%; width:100%;" >
                  </div>
                </div>
                <div class="item"> 
                  <div class="art-card animate popup1_open" data-animate="zoomIn" data-duration="0.9s" data-delay="0.5s">
                    <img src="<%= require('./img/caro-2.jpg') %>"  alt="" style="height: 100%; width:100%;" >
                  </div>
                </div>
                <div class="item">
                  <div class="art-card animate popup1_open" data-animate="zoomIn" data-duration="0.9s" data-delay="1s">
                    <img src="<%= require('./img/caro-3.jpg') %>"  alt="" style="height: 100%; width:100%;" >
                  </div>
                </div>
                <div class="item">
                  <div class="art-card animate" data-animate="zoomIn" data-duration="0.9s" data-delay="1s" >
                    <img src="<%= require('./img/caro-1.jpg') %>"  alt="" style="height: 100%; width:100%;" >
                  </div>
                </div>
              </div>
            </div>
            </article>
            <article id="panel-2" class="uq-section panel full-screen one-page-third-page horse-bg">
              <div class="container">
                <div class="di-flex">
                  <h2 class="title animate" is="titleSecondText" data-animate="fadeInUp" data-duration="0.9s" data-delay="0s"><span> 50% SPONTANEITY</span></h2>
                  <h2 class="title title-new animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.2s">Full HD 180p + 4K 60p RAW</h2>
                  <p class="animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.4s">Whether it’s a galloping horse or a bullet train speeding towards <br>
                    its destination, capture every single detail that makes the story complete. <br>
                    From the fine sand to the lights from the train, freeze every object <br>
                    to bring alive one of the elements that create <br>
                    DRAMA + MAGIC - Spontaneity.</p>
                    <p class="animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.8s"><span class="blue-color"> Full HD 180p + 4K 60p RAW together</span> <br>
                    become your dramatic wizardry. <br>
                    Ace timing and pacing and go <br>
                    impromptu with these <br>
                    dramagical features.</p>
                </div>
                <div class="img-info">
                  <img src="<%=require('./img/fhd.png')%>" alt="">
                  <img src="<%=require('./img/raw.png')%>" alt="">
                </div>
              </div>
              <img src="<%=require('./img/play-btn.png')%>" alt="" class="popup1_open pata-nahi animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="1s">
            </article>
            <article id="panel-3" class="uq-section panel full-screen one-page-third-page water-img">
              <div class="container">
                <div class="di-flex">
                  <div class="rt-section">
                    <h2 class="title animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0s">50% SPELL <br>
                      HDR	 <span class="text-small">  <span class="text-16">  Moving</span>
                      <span class="text-16">  Objects</span></span>   + Dual Pixel <br>
                      CMOS AF II </h2>
                    <p class="animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="01s">Underwater or above clouds, it’s the slow movements and fast motion that make room for  some improvisation and some abracadabra. The finest AF capabilities for subject tracking and detection over a wide area with a high density of AF sensor pixels make for the right amount of fiction and fantasy. Find focus even amidst high-paced action and stay with it, for a scene filled with theatrics and magic dust.
                      </p>
                      <div class="img-info-water animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.4s">
                        <img src="<%=require('./img/HDR.png')%>" alt="">
                        <img src="<%=require('./img/raw.png')%>" alt="">
                      </div>

                      <p class="bottom-text">*According to Canon measurement and testing standards. <br>
                        For details visit ad search product at <a href="https://in.canon/en/support">https://in.canon/en/support</a> </p>
                  </div>
                </div>
              </div>
              <img src="<%=require('./img/play-btn.png')%>" alt="" class="popup1_open pata-nahi animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.6s"> 
            </article>
            <article id="panel-4" class="uq-section panel full-screen one-page-third-page horse-bg girl-bg">
              <div class="container">
                <div class="di-flex">
                  <h2 class="title animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0s">50% SPECTACLE</h2>
                  <h2 class="title title-new animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.2s">Up to 40 fps <br>
                    Continuous Shooting <br>
                    + Co-ordinated IS </h2>
                  <p class="animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.4s">High-flying acrobatics or graceful movements in the air, rule the stage 
                    up to 40 frames per second continuous shooting burst and coordinated
                    image stabilisation. When sudden and unpredicted is the nature of the
                    performance, get an edge over it with your dramatic precision and alchemy.</p>
                </div>
                <div class="img-info animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.6s">
                  <img src="<%=require('./img/40fps.png')%>" alt="">
                  <img src="<%=require('./img/IS.png')%>" alt="">
                </div>
              </div>
              <img src="<%=require('./img/play-btn.png')%>" alt="" class="popup1_open pata-nahi animate" data-animate="zoomIn" data-duration="0.9s" data-delay="0.6s">
            </article>
            <article id="panel-5" class="uq-section panel full-screen one-page-first-page one-page-third-page water-img girl-2-bg">
              <div class="container">
                <div class="di-flex">
                  <div class="rt-section">
                    <div class="text-center">
                      <h3 class="anim2"> <span>  Make it</span> </h3>
                      <div class="text-heading">
                        <h2 class="anim1">
                            <span> Dramagic</span>
                        </h2>
                      </div>
                    </div>
                    <div class="di-flex img-info-water animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.6s">
                      <div class="icon">
                        <img src="<%=require('./img/fhd.png')%>" alt="">
                      </div> 
                      <div class="icon">
                        <img src="<%=require('./img/raw.png')%>" alt="">
                      </div>
                      <div class="icon">
                        <img src="<%=require('./img/HDR.png')%>" alt="">
                      </div>
                      <div class="icon">
                        <img src="<%=require('./img/40fps.png')%>" alt="">
                      </div> 
                      <div class="icon">
                        <img src="<%=require('./img/IS.png')%>" alt="">
                      </div>
                    </div>

                      
                  </div>
                </div>
              </div>
              <img src="<%=require('./img/play-btn.png')%>" alt="" class="popup1_open pata-nahi animate" data-animate="zoomIn" data-duration="0.9s" data-delay="0.6s"> 
            </article>
          </div>
        </section>
    
        <section id="map" class="uq-section full-screen last-bg">
          <div class="container">
            <div class="di-flex">
              <div class="img-box">
                <img src="<%=require('./img/camera-center.png')%>" alt="" class="animate" data-animate="zoomIn" data-duration="0.9s" data-delay="0s">
              </div>
              <div class="text-box">
                  <img src="<%=require('./img/R6.png')%>" alt="" class="animate" data-animate="zoomIn" data-duration="0.9s" data-delay="0.6s">
                  
                  <p class="animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0.4s"><span>Body + RF-S18-45mm f/4.5-6.3 IS STM <br>
                  <span class="color-red bold"><strong> MRP ₹90 995.00/U</strong></span> <br>
                  <span class="color-red ">   incl. of all taxes</span><br>
                    Body Only <br> 
                    <span class="color-red bold"><strong> MRP ₹80 995.00/U </strong></span><br>
                    <span class="color-red ">   incl. of all taxes</span><br>
                      Body + RF-S18-150mm f/3.5-6.3 IS STM <br>
                    <span class="color-red bold"><strong>  MRP ₹117 995.00/U</strong></span> <br>
                    <span class="color-red "> incl. of all taxes </span>
                    </span></p>
              </div>
            </div>
          </div>
        </section>
    
      </main>
      <!-- <button class="popup1_open">Click me! </button> -->
      <section id="popup1">
        <video class="video-tag" controls poster="<%=require('./img/video-img.jpg')%>">
          <source src="./video/mov_bbb.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
      </section>
    </div>
    
  </body>
</html>
